In [1]:
#DATABASE CONFIGURATION
#VERİTABANI OLUŞTURMA VE VERİ AKTARMA
import os
import pandas as pd
import sqlite3
current_dir = os.getcwd()
file_path = os.path.join(current_dir, 'example databases\worldcities.csv')
df = pd.read_csv(#dataframe'i oku
    file_path
)
#sayılsal kolonları dönüştür 
df["population"] =pd.to_numeric(df["population"], errors='coerce')
#sqlite veritabanına bağlan
connection = sqlite3.connect("database_definition_and_manupulation.db")
#dataframii tabloya aktar
df.to_sql("cities", connection, if_exists="replace", index=False)

#SORGULARI YAZABİLECEĞİMİZ BİR SORGU FONKSİYONU YAZALIM
def run_query(query):
    try:
        result = pd.read_sql_query(query, connection)
        print(result)
    except Exception as e:
        print(f"Sorgu çalıştırılırken hata oluştu: {e}")
        return None
#cursor(imleç)
cursor = connection.cursor()

-DDL(DATA DEFINITION LANGUAGE) and DML(DATA MANIPULATION LANGUAGE)-

In [2]:
"""
--------------------------------------------------
1. DDL (DATA DEFINITION LANGUAGE) Veritabanı yapısını tanımlamak ve yönetmek için kullanılır.
--------------------------------------------------
1.1 CREATE
    - Veritabanı, tablo, view veya index oluşturmak için kullanılır.

1.2 ALTER
    - Mevcut tablo yapısını değiştirmek için kullanılır.

1.3 DROP
    - Veritabanı nesnelerini tamamen silmek için kullanılır.

1.4 TRUNCATE
    - Tablodaki tüm kayıtları siler, tablo yapısını korur.
--------------------------------------------------
2. DML (DATA MANIPULATION LANGUAGE) Veri üzerinde işlem yapmak için kullanılır.
--------------------------------------------------
2.1 SELECT
    - Tablodan veri okumak için kullanılır.

2.2 INSERT
    - Tabloya yeni kayıt eklemek için kullanılır.

2.3 UPDATE
    - Mevcut kayıtları güncellemek için kullanılır.

2.4 DELETE
    - Tablodan kayıt silmek için kullanılır.
"""

'\n--------------------------------------------------\n1. DDL (DATA DEFINITION LANGUAGE) Veritabanı yapısını tanımlamak ve yönetmek için kullanılır.\n--------------------------------------------------\n1.1 CREATE\n    - Veritabanı, tablo, view veya index oluşturmak için kullanılır.\n\n1.2 ALTER\n    - Mevcut tablo yapısını değiştirmek için kullanılır.\n\n1.3 DROP\n    - Veritabanı nesnelerini tamamen silmek için kullanılır.\n\n1.4 TRUNCATE\n    - Tablodaki tüm kayıtları siler, tablo yapısını korur.\n--------------------------------------------------\n2. DML (DATA MANIPULATION LANGUAGE) Veri üzerinde işlem yapmak için kullanılır.\n--------------------------------------------------\n2.1 SELECT\n    - Tablodan veri okumak için kullanılır.\n\n2.2 INSERT\n    - Tabloya yeni kayıt eklemek için kullanılır.\n\n2.3 UPDATE\n    - Mevcut kayıtları güncellemek için kullanılır.\n\n2.4 DELETE\n    - Tablodan kayıt silmek için kullanılır.\n'

In [3]:
#örnek tablo CREATE
try:
    cursor.execute("""
                CREATE TABLE Ogrenciler (
                    ogrenci_id INT PRIMARY KEY,
                    ogrenci_no VARCHAR(20) UNIQUE NOT NULL,
                    ad VARCHAR(50),
                    soyad VARCHAR(50),
                    bolum VARCHAR(100)
                );
""")
    cursor.execute("""
                CREATE TABLE Dersler (
                    ders_id INT PRIMARY KEY,
                    ders_kodu VARCHAR(10) UNIQUE,
                    ders_adi VARCHAR(100),
                    kredi INT
                );
""")
    cursor.execute("""
                CREATE TABLE AkademikKayitlar (
                    kayit_id INT PRIMARY KEY,
                    ogrenci_id INT,
                    ders_id INT,
                    donem VARCHAR(10),
                    notu INT,
                    FOREIGN KEY (ogrenci_id) REFERENCES Ogrenciler(ogrenci_id),
                    FOREIGN KEY (ders_id) REFERENCES Dersler(ders_id)
                );
""")
except Exception as e:
    print(e)
connection.commit()

In [4]:
#tablolara veri ekledik
try:
    cursor.execute("""
                INSERT INTO Ogrenciler (ogrenci_id, ogrenci_no, ad, soyad, bolum)
                VALUES
                (1, '2023001', 'Ali',   'Yılmaz', 'Bilgisayar Mühendisliği'),
                (2, '2023002', 'Ayşe',  'Demir',  'Yazılım Mühendisliği'),
                (3, '2023003', 'Mehmet','Kaya',   'Bilgisayar Mühendisliği'),
                (4, '2023004', 'Elif',  'Çetin',  'Elektrik-Elektronik Mühendisliği');
""")
    cursor.execute("""
                            
                INSERT INTO Dersler (ders_id, ders_kodu, ders_adi, kredi)
                VALUES
                (1, 'BLM101', 'Veri Yapıları', 4),
                (2, 'BLM102', 'Veritabanı Sistemleri', 3),
                (3, 'BLM201', 'Algoritmalar', 4),
                (4, 'MAT101', 'Lineer Cebir', 3);
""")
    cursor.execute("""
                INSERT INTO AkademikKayitlar (kayit_id, ogrenci_id, ders_id, donem, notu)
                VALUES
                (1, 1, 1, '2024G', 85),
                (2, 1, 2, '2024G', 90),
                (3, 1, 3, '2024G', 78),
                (4, 2, 1, '2024G', 70),
                (5, 2, 2, '2024G', 88),
                (6, 3, 1, '2024G', 60),
                (7, 3, 4, '2024G', 75),
            (8, 4, 4, '2024G', 82);
""")
except Exception as e:
    print(e)

In [5]:
connection.close()