PY DATABASE CONFIGURATION

In [ ]:
import os
import pandas as pd
import sqlite3

In [ ]:
#VERİTABANI OLUŞTURMA VE VERİ AKTARMA
current_dir = os.getcwd()
file_path = os.path.join(current_dir, 'worldcities.csv')
df = pd.read_csv(#dataframe'i oku
    file_path
)
#sayılsal kolonları dönüştür 
df["population"] =pd.to_numeric(df["population"], errors='coerce')
#sqlite veritabanına bağlan
connection = sqlite3.connect("worldcities.db")
#dataframii tabloya aktar
df.to_sql("cities", connection, if_exists="replace", index=False)

#SORGULARI YAZABİLECEĞİMİZ BİR SORGU FONKSİYONU YAZALIM
def run_query(query):
    try:
        result = pd.read_sql_query(query, connection)
        print(result)
    except Exception as e:
        print(f"Sorgu çalıştırılırken hata oluştu: {e}")
        return None

In [ ]:
"""                       -SQL SORGU OPERATÖRLERİ-
1. SELECT
   - Tablodaki kolonları seçmek için kullanılır.

2. WHERE
   - Kayıtları belirli bir koşula göre filtrelemek için kullanılır.

3. ORDER BY
   - Sonuçları artan veya azalan sırada düzenlemek için kullanılır.

4. GROUP BY
   - Kayıtları belirli bir kolona göre gruplamak için kullanılır.

5. HAVING
   - GROUP BY sonrasında gruplar üzerinde koşul uygulamak için kullanılır.

6. LIKE
   - Metin karşılaştırmalarında benzer ifadeleri filtrelemek için kullanılır.

7. LIMIT
   - Sonuç kümesinden belirli sayıda kayıt döndürmek için kullanılır.

8. JOIN
   - İlişkili tabloları belirli bir koşula göre birleştirmek için kullanılır.

9. ALT SORGULAR (SUBQUERIES)
   - Bir sorgu içinde yer alan başka bir sorgudur; filtreleme, karşılaştırma veya hesaplama amaçlı kullanılır.
"""

ÖRNEK SORGULAR

In [ ]:
#popülasyonu 1 milyondan fazla olan şehirleri al ilk 5 tanesini göster
run_query("""
select city , country
from cities
where population > 1000000
limit 5;
""")

In [ ]:
#Türkiye'de nüfusu 500.000'den fazla olan en kalabalık 6 şehri al
run_query("""
SELECT city, country, population
          from cities
          where country = 'Turkey' AND population > 500000
          order by population DESC
          limit 6;
"""
)

In [ ]:
#almanyanın en az nüfuslu 3 şehri
run_query("""select city , population
          from cities
          where country ='Germany'
          order by population asc
          limit 3;
          """)

In [ ]:
#almanyanın en kalabalık 4 şehri
run_query("""
        select city , population
          from cities
          where country='Germany'
          order by population desc
          limit 4;
""")

In [ ]:
#ülkelerin toplam nüfusu top5
run_query("""
select country , sum(population) as total_population
          from cities
          group by country
          order by total_population desc
          limit 5;
""")

In [ ]:
#nüfusu 1000 ile 2000 arasında olan şehirlerden en düşük nüfuslu ilk 7 tanesini al   
run_query("""select country, city, population
          from cities
          where population between 1000 and 2000 
          order by population asc
          limit 7;
          """)

In [ ]:
#a ile başlayıp a ile biten ülkeler
run_query("select country from cities where country like 'A%' and country like '%A' group by country;")

In [ ]:
#kayıtlı şehir sayısı
run_query("select count(id) as total_cities from cities;")
print("\n")
#kayıtlı şehirlerin ortalama nüfusu nedir 
run_query("select avg(population) as avarage_population from cities;")
print("\n")
#tokyo şehrinin nüfusu
run_query("select population as populasyon from cities where city = 'Tokyo' ;")
print("\n")
#en yüksek rakımlı şehir
run_query("select country, city, lat as latiutde from cities order by lat desc limit 1 ;")
print("\n")
#en düşük rakımlı şehrin nüfusu
run_query("select country,city,lat as latitude")
print("\n")

bağlantıyı kapat

In [ ]:
connection.close()