In [ ]:
#VERİTABANI OLUŞTURMA VE VERİ AKTARMA
import os
import pandas as pd
import sqlite3
current_dir = os.getcwd()
file_path = os.path.join(current_dir, 'worldcities.csv')
df = pd.read_csv(#dataframe'i oku
    file_path
)
#sayılsal kolonları dönüştür 
df["population"] =pd.to_numeric(df["population"], errors='coerce')
#sqlite veritabanına bağlan
connection = sqlite3.connect("worldcities.db")
#dataframii tabloya aktar
df.to_sql("cities", connection, if_exists="replace", index=False)

#SORGULARI YAZABİLECEĞİMİZ BİR SORGU FONKSİYONU YAZALIM
def run_query(query):
    try:
        result = pd.read_sql_query(query, connection)
        print(result)
    except Exception as e:
        print(f"Sorgu çalıştırılırken hata oluştu: {e}")
        return None
#cursor(imleç)
cursor = connection.cursor()

In [ ]:
"""
--------------------------------------------------
1. DDL (DATA DEFINITION LANGUAGE) Veritabanı yapısını tanımlamak ve yönetmek için kullanılır.
--------------------------------------------------
1.1 CREATE
    - Veritabanı, tablo, view veya index oluşturmak için kullanılır.

1.2 ALTER
    - Mevcut tablo yapısını değiştirmek için kullanılır.

1.3 DROP
    - Veritabanı nesnelerini tamamen silmek için kullanılır.

1.4 TRUNCATE
    - Tablodaki tüm kayıtları siler, tablo yapısını korur.
--------------------------------------------------
2. DML (DATA MANIPULATION LANGUAGE) Veri üzerinde işlem yapmak için kullanılır.
--------------------------------------------------
2.1 SELECT
    - Tablodan veri okumak için kullanılır.

2.2 INSERT
    - Tabloya yeni kayıt eklemek için kullanılır.

2.3 UPDATE
    - Mevcut kayıtları güncellemek için kullanılır.

2.4 DELETE
    - Tablodan kayıt silmek için kullanılır.
"""

In [ ]:
#örnek tablo CREATE
try:
    cursor.execute("""
                    create table ogrenciler (
                                ogrNo int primary key,
                                ad varchar(50) not null,
                                soyad varchar(50) not null,
                                tcKimlik char(11) unique,
                                yas int check (yas>=18),
                                kayıtTarih datetime default current_timestamp
                                );
                                INSERT INTO ogrenciler (ogrNo, ad, soyad, tcKimlik, yas)
                                VALUES (1, 'Ali', 'Yılmaz', '12345678901', 20);
                    """)
except Exception as e:
    print(e)
connection.commit()

table ogrenciler already exists

In [3]:
run_query("""
SELECT name
FROM sqlite_master
WHERE type='table';
""")

         name
0  ogrenciler
1      cities

In [ ]:
#örnek veri INSERT
try:
    cursor.execute("""
    INSERT INTO ogrenciler (ogrNo, ad, soyad, tcKimlik, yas)
    VALUES (6, 'sikko', 'Yılmaz', '12345672901', 20);
    """)
    connection.commit()
except Exception as e:
    print(e)

UNIQUE constraint failed: ogrenciler.tcKimlik

In [6]:
run_query("SELECT * FROM ogrenciler;")

   ogrNo     ad   soyad     tcKimlik  yas           kayıtTarih
0      1    Ali  Yılmaz  12345678901   20  2025-12-26 23:59:48
1      6  sikko  Yılmaz  12345672901   20  2025-12-27 00:06:45

In [7]:
connection.close()