PY DATABASE CONFIGURATION

In [106]:
#DATABASE CONFIGURATION
#VERİTABANI OLUŞTURMA VE VERİ AKTARMA
import os
import pandas as pd
import sqlite3
current_dir = os.getcwd()
file_path = os.path.join(current_dir, 'example databases\worldcities.csv')
df = pd.read_csv(#dataframe'i oku
    file_path
)
#sayılsal kolonları dönüştür 
df["population"] =pd.to_numeric(df["population"], errors='coerce')
#sqlite veritabanına bağlan
connection = sqlite3.connect("database_query.db")
#dataframii tabloya aktar
df.to_sql("cities", connection, if_exists="replace", index=False)

#SORGULARI YAZABİLECEĞİMİZ BİR SORGU FONKSİYONU YAZALIM
def run_query(query):
    try:
        result = pd.read_sql_query(query, connection)
        print(result)
    except Exception as e:
        print(f"Sorgu çalıştırılırken hata oluştu: {e}")
        return None
#cursor(imleç)
cursor = connection.cursor()

-SQL SORGU OPERATÖRLERİ-

In [107]:
"""                       
1. SELECT
   - Tablodaki kolonları seçmek için kullanılır.

2. WHERE
   - Kayıtları belirli bir koşula göre filtrelemek için kullanılır.

3. ORDER BY
   - Sonuçları artan veya azalan sırada düzenlemek için kullanılır.

4. GROUP BY
   - Kayıtları belirli bir kolona göre gruplamak için kullanılır.

5. HAVING
   - GROUP BY sonrasında gruplar üzerinde koşul uygulamak için kullanılır.

6. LIKE
   - Metin karşılaştırmalarında benzer ifadeleri filtrelemek için kullanılır.

7. LIMIT
   - Sonuç kümesinden belirli sayıda kayıt döndürmek için kullanılır.

8. JOIN
   - İlişkili tabloları belirli bir koşula göre birleştirmek için kullanılır.

9. ALT SORGULAR (SUBQUERIES)
   - Bir sorgu içinde yer alan başka bir sorgudur; filtreleme, karşılaştırma veya hesaplama amaçlı kullanılır.
"""

'                       \n1. SELECT\n   - Tablodaki kolonları seçmek için kullanılır.\n\n2. WHERE\n   - Kayıtları belirli bir koşula göre filtrelemek için kullanılır.\n\n3. ORDER BY\n   - Sonuçları artan veya azalan sırada düzenlemek için kullanılır.\n\n4. GROUP BY\n   - Kayıtları belirli bir kolona göre gruplamak için kullanılır.\n\n5. HAVING\n   - GROUP BY sonrasında gruplar üzerinde koşul uygulamak için kullanılır.\n\n6. LIKE\n   - Metin karşılaştırmalarında benzer ifadeleri filtrelemek için kullanılır.\n\n7. LIMIT\n   - Sonuç kümesinden belirli sayıda kayıt döndürmek için kullanılır.\n\n8. JOIN\n   - İlişkili tabloları belirli bir koşula göre birleştirmek için kullanılır.\n\n9. ALT SORGULAR (SUBQUERIES)\n   - Bir sorgu içinde yer alan başka bir sorgudur; filtreleme, karşılaştırma veya hesaplama amaçlı kullanılır.\n'

In [108]:
#örnek tablo CREATE
try:
    cursor.execute("""
                CREATE TABLE Ogrenciler (
                    ogrenci_id INT PRIMARY KEY,
                    ogrenci_no VARCHAR(20) UNIQUE NOT NULL,
                    ad VARCHAR(50),
                    soyad VARCHAR(50),
                    bolum VARCHAR(100)
                );
""")
    cursor.execute("""
                CREATE TABLE Dersler (
                    ders_id INT PRIMARY KEY,
                    ders_kodu VARCHAR(10) UNIQUE,
                    ders_adi VARCHAR(100),
                    kredi INT
                );
""")
    cursor.execute("""
                CREATE TABLE AkademikKayitlar (
                    kayit_id INT PRIMARY KEY,
                    ogrenci_id INT,
                    ders_id INT,
                    donem VARCHAR(10),
                    notu INT,
                    FOREIGN KEY (ogrenci_id) REFERENCES Ogrenciler(ogrenci_id),
                    FOREIGN KEY (ders_id) REFERENCES Dersler(ders_id)
                );
""")
except Exception as e:
    print(e)
connection.commit()

table Ogrenciler already exists

In [109]:
#tablolara veri ekledik
try:
    cursor.execute("""
                INSERT INTO Ogrenciler (ogrenci_id, ogrenci_no, ad, soyad, bolum)
                VALUES
                (1, '2023001', 'Ali',   'Yılmaz', 'Bilgisayar Mühendisliği'),
                (2, '2023002', 'Ayşe',  'Demir',  'Yazılım Mühendisliği'),
                (3, '2023003', 'Mehmet','Kaya',   'Bilgisayar Mühendisliği'),
                (4, '2023004', 'Elif',  'Çetin',  'Elektrik-Elektronik Mühendisliği');
""")
    cursor.execute("""
                            
                INSERT INTO Dersler (ders_id, ders_kodu, ders_adi, kredi)
                VALUES
                (1, 'BLM101', 'Veri Yapıları', 4),
                (2, 'BLM102', 'Veritabanı Sistemleri', 3),
                (3, 'BLM201', 'Algoritmalar', 4),
                (4, 'MAT101', 'Lineer Cebir', 3);
""")
    cursor.execute("""
                INSERT INTO AkademikKayitlar (kayit_id, ogrenci_id, ders_id, donem, notu)
                VALUES
                (1, 1, 1, '2024G', 85),
                (2, 1, 2, '2024G', 90),
                (3, 1, 3, '2024G', 78),
                (4, 2, 1, '2024G', 70),
                (5, 2, 2, '2024G', 88),
                (6, 3, 1, '2024G', 60),
                (7, 3, 4, '2024G', 75),
            (8, 4, 4, '2024G', 82);
""")
except Exception as e:
    print(e)

In [110]:
run_query("select count(*) as count from ogrenciler")
run_query("select count(*) as count from Dersler")
run_query("select count(*) as count from AkademikKayitlar")

   count
0      4
   count
0      4
   count
0      8

In [111]:
#   -RELATIONAL ALGEBRA-
""""
Seçim(σ) 
Projeksiyon(π)
Birleşim(U)
Küme Farkı(-)
Küme Kesişimi(∩)
Yeniden Adlandırma(ρ)
Kartezien Çarpım(×)
Join(⋈)
    Condition Join(⋈c)
    Equijoin(⋈e)
    Natural Join(⋈)
    Outer Join(-⋈-)
        Left Outer Join(⟕)
        Right Outer Join(⟖)
        Full Outer Join(⟗)
    Semi Join(⋉)
    Anti Join(▷)
"""

'"\nSeçim(σ) \nProjeksiyon(π)\nBirleşim(U)\nKüme Farkı(-)\nKüme Kesişimi(∩)\nYeniden Adlandırma(ρ)\nKartezien Çarpım(×)\nJoin(⋈)\n    Condition Join(⋈c)\n    Equijoin(⋈e)\n    Natural Join(⋈)\n    Outer Join(-⋈-)\n        Left Outer Join(⟕)\n        Right Outer Join(⟖)\n        Full Outer Join(⟗)\n    Semi Join(⋉)\n    Anti Join(▷)\n'

ÖRNEK SORGULAR

In [112]:
#popülasyonu 1 milyondan fazla olan şehirleri al ilk 5 tanesini göster
# π city , country ( σ population > 1000000(cities) ) 
run_query("""
            select city , country from cities
            where population > 1000000
            limit 5;
        """)

        city    country
0      Tokyo      Japan
1    Jakarta  Indonesia
2      Delhi      India
3  Guangzhou      China
4     Mumbai      India

In [113]:
#Türkiye'de nüfusu 500.000'den fazla olan en kalabalık 6 şehri al
run_query("""
SELECT city, country, population
          from cities
          where country = 'Turkey' AND population > 500000
          order by population DESC
          limit 6;
        """
)

        city country  population
0   Istanbul  Turkey  14441000.0
1     Ankara  Turkey   5864049.0
2      Bursa  Turkey   3101833.0
3      İzmir  Turkey   2965900.0
4      Konya  Turkey   2320241.0
5  Gaziantep  Turkey   2130432.0

In [114]:
#almanyanın en az nüfuslu 3 şehri
run_query("""select city , population
          from cities
          where country ='Germany'
          order by population asc
          limit 3;
          """)

            city  population
0         Erfurt         NaN
1      Ahrensbök      8502.0
2  Bad Feilnbach      8512.0

In [115]:
#almanyanın en kalabalık 4 şehri
run_query("""
        select city , population
          from cities
          where country='Germany'
          order by population desc
          limit 4;
""")

        city  population
0     Berlin   4679500.0
1  Stuttgart   2787724.0
2     Munich   2606021.0
3    Hamburg   2496600.0

In [116]:
#ülkelerin toplam nüfusu top5
run_query("""
select country , sum(population) as total_population
          from cities
          group by country
          order by total_population desc
          limit 5;
""")

         country  total_population
0          China      1.360846e+09
1          India      5.146940e+08
2  United States      3.794267e+08
3         Brazil      1.911845e+08
4          Japan      1.848941e+08

In [117]:
#nüfusu 1000 ile 2000 arasında olan şehirlerden en düşük nüfuslu ilk 7 tanesini al   
run_query("""select country, city, population
          from cities
          where population between 1000 and 2000 
          order by population asc
          limit 7;
          """)

             country         city  population
0             Russia  Chernogorsk      1000.0
1              Sudan         Haya      1000.0
2          Australia    Hughenden      1004.0
3           Slovenia    Mirna Peč      1015.0
4           Slovenia  Gornji Grad      1016.0
5          Australia        Ouyen      1022.0
6  Wallis and Futuna     Mata-Utu      1029.0

In [118]:
#a ile başlayıp a ile biten ülkeler
run_query("select country from cities where country like 'A%' and country like '%A' group by country;")

                country
0               Albania
1               Algeria
2        American Samoa
3               Andorra
4                Angola
5              Anguilla
6   Antigua and Barbuda
7             Argentina
8               Armenia
9                 Aruba
10            Australia
11              Austria

In [119]:
#kayıtlı şehir sayısı
run_query("select count(id) as total_cities from cities;")
print("\n")
#kayıtlı şehirlerin ortalama nüfusu nedir 
run_query("select avg(population) as avarage_population from cities;")
print("\n")
#tokyo şehrinin nüfusu
run_query("select population as populasyon from cities where city = 'Tokyo' ;")
print("\n")
#en yüksek rakımlı şehir
run_query("select country, city, lat as latiutde from cities order by lat desc limit 1 ;")

   total_cities
0         48059


   avarage_population
0       107856.626381


   populasyon
0  37785000.0


     country  city  latiutde
0  Greenland  Nord   81.7166

In [120]:
#öğrenci ders not JOIN sorgusu
run_query("""
            SELECT
                o.ad,
                o.soyad,
                d.ders_adi,
                a.notu
            FROM AkademikKayitlar a
            JOIN Ogrenciler o ON a.ogrenci_id = o.ogrenci_id
            JOIN Dersler d ON a.ders_id = d.ders_id;
""")

       ad   soyad               ders_adi  notu
0     Ali  Yılmaz          Veri Yapıları    85
1     Ali  Yılmaz  Veritabanı Sistemleri    90
2     Ali  Yılmaz           Algoritmalar    78
3    Ayşe   Demir          Veri Yapıları    70
4    Ayşe   Demir  Veritabanı Sistemleri    88
5  Mehmet    Kaya          Veri Yapıları    60
6  Mehmet    Kaya           Lineer Cebir    75
7    Elif   Çetin           Lineer Cebir    82

In [121]:
#ders bazlı ortalama not GROUP BY sorgusu
run_query("""
            SELECT
                d.ders_adi,
                AVG(a.notu) AS ortalama_not
            FROM AkademikKayitlar a
            JOIN Dersler d ON a.ders_id = d.ders_id
            GROUP BY d.ders_adi;
""")

                ders_adi  ortalama_not
0           Algoritmalar     78.000000
1           Lineer Cebir     78.500000
2          Veri Yapıları     71.666667
3  Veritabanı Sistemleri     89.000000

In [122]:
#ortalama notu 80 üzeri olan dersler HAVING sorgusu
run_query("""
            SELECT
                d.ders_adi,
                AVG(a.notu) AS ortalama
            FROM AkademikKayitlar a
            JOIN Dersler d ON a.ders_id = d.ders_id
            GROUP BY d.ders_adi
            HAVING AVG(a.notu) > 80;
""")

                ders_adi  ortalama
0  Veritabanı Sistemleri      89.0

bağlantıyı kapat

In [123]:
connection.close()