In [4]:
import os
import pandas as pd
import sqlite3
import shutil

current_dir = os.getcwd()
db_path = os.path.join(current_dir, 'worldcities.db')
connection = sqlite3.connect(db_path)
print('Connected to', db_path)

Connected to c:\Users\MytRA\Downloads\zaa\veri_tabani_definetive_edition\worldcities.db

In [5]:
def run_query(q):
    print(pd.read_sql_query(q, connection))

# Örnek: tablodaki ilk 5 satırı göster
run_query('SELECT city, country, population FROM cities LIMIT 5')

        city    country  population
0      Tokyo      Japan  37785000.0
1    Jakarta  Indonesia  33756000.0
2      Delhi      India  32226000.0
3  Guangzhou      China  26940000.0
4     Mumbai      India  24973000.0

In [ ]:

# UPDATE örneği
connection.execute("UPDATE cities SET population = ? WHERE city = ?", (20000, 'YeniSehir'))
connection.commit()
run_query("SELECT city, population FROM cities WHERE city='YeniSehir'")

# DELETE örneği
connection.execute("DELETE FROM cities WHERE city = ?", ('YeniSehir',))
connection.commit()
run_query("SELECT city FROM cities WHERE city='YeniSehir'")

TypeError: function takes at most 2 arguments (4 given)

In [ ]:
# Transaction örneği
try:
    connection.execute('BEGIN')
    connection.execute("INSERT INTO cities (city, country, population) VALUES (?, ?, ?)", ('TxCity1','Testland',100))
    connection.execute("INSERT INTO cities (city, country, population) VALUES (?, ?, ?)", ('TxCity2','Testland',200))
    connection.commit()
except Exception as e:
    connection.rollback()
    print('Rolled back:', e)
finally:
    run_query("SELECT city, population FROM cities WHERE country='Testland'")

In [ ]:
# Yedekleme (dosya kopyası)
bak_path = db_path + '.bak'
shutil.copy(db_path, bak_path)
print('Backup created:', bak_path)

In [ ]:
# Bağlantıyı kapat
connection.close()
print('Connection closed.')