In [ ]:
"""
VERİ TABANI YÖNETİM SİSTEMİ - FİNAL SINAVI
(Düzeltilmiş ve Düzenlenmiş Soru Kitapçığı)

1. Müşteri tablosundaki kayıtların tüm alanlarını (sütunlarını) listeleyen SQL cümlesi aşağıdakilerden hangisidir?
   A) SELECT FROM MUSTERI;
   B) SELECT MUSTERI;
   C) SELECT * FROM MUSTERI;  <-- [DOĞRU CEVAP]
   D) SELECT ADI, SOYADI FROM MUSTERI;
   E) SELECT * FROM MUSTERI WHERE ADI=?;

2. Müşteri tablosundaki 'ADI' alanı 'A' harfi ile başlayan kayıtların; ADI, SOYADI ve CEPTEL bilgilerini listeleyen SQL cümlesi hangisidir?
   A) SELECT ADI, SOYADI, CEPTEL FROM MUSTERI WHERE LIKE 'A%'
   B) SELECT ADI, SOYADI, CEPTEL FROM MUSTERI WHERE ADI LIKE 'A%'  <-- [DOĞRU CEVAP]
   C) SELECT ADI, SOYADI, CEPTEL FROM MUSTERI WHERE ADI LIKE '%A%'
   D) SELECT ADI, SOYADI, CEPTEL FROM MUSTERI WHERE ADI LIKE '%A'
   E) SELECT ADI, SOYADI, CEPTEL FROM MUSTERI WHERE ADI LIKE A%

3. Toplam sipariş tutarı en az olan kaydın; Müşteri No, Adı, Soyadı, Sipariş Tarihi ve Toplam bilgilerini listeleyen SQL cümlesi hangisidir?
   A) SELECT ... FROM MUSTERI WHERE TOPLAM ...
   B) SELECT ... FROM MUSTERI M, SIPARIS S WHERE M.MUSTERINO = S.SIPARISNO;
   C) SELECT ... WHERE M.MUSTERINO > S.SIPARISNO
   D) SELECT ... WHERE MUSTERINO IN (SELECT MIN(TOPLAM)...)
   E) SELECT M.MUSTERINO, M.ADI, M.SOYADI, S.SIPTARIH, S.TOPLAM FROM MUSTERI M, SIPARIS S WHERE S.TOPLAM = (SELECT MIN(TOPLAM) FROM SIPARIS) AND M.MUSTERINO = S.MUSNO;  <-- [DOĞRU CEVAP]

4. PERSONEL tablosundan MAASI 1500'den yüksek olan kayıtları listeleyen SQL komutu aşağıdakilerden hangisidir?
   A) SELECT * FROM PERSONEL WHERE MAASI = 1500;
   B) SELECT * FROM PERSONEL WHERE MAASI > 1500;  <-- [DOĞRU CEVAP]
   C) SELECT * FROM PERSONEL WHERE MAASI < 1500;
   D) SELECT * FROM PERSONEL WHERE MAASI -> 1500;
   E) SELECT * FROM PERSONEL WHERE 1500 = MAASI;

5. "Veri Tabanı Yönetim Sistemi"nin İngilizce karşılığı aşağıdakilerden hangisidir?
   A) Data Management System
   B) Database System
   C) Database
   D) Database Management System  <-- [DOĞRU CEVAP]
   E) Data System

6. PARCA tablosundaki tüm kayıtları MIKTAR alanına göre küçükten büyüğe sıralayan SQL deyimi hangisidir?
   A) SELECT * FROM PARCA ORDER BY MIKTAR ASC;  <-- [DOĞRU CEVAP]
   B) SELECT * FROM PARCA ORDER BY MIKTAR DESC;
   C) SELECT * FROM PARCA ORDER MIKTAR ASC;
   D) SELECT * FROM PARCA ORDER MIKTAR;
   E) SELECT * FROM PARCA ORDER MIKTAR DESC;

7. Varlık-İlişki Modeli (Entity-Relationship) kim tarafından geliştirilmiştir?
   A) E.F. Codd
   B) IBM
   C) P.P. Chen (Peter Chen)  <-- [DOĞRU CEVAP]
   D) Oracle
   E) MySQL

8. Tüm müşterilerin siparişlerini, müşteri bilgileri ile birlikte gösteren (Tablo Birleştirme / Join) SQL cümlesi hangisidir?
   A) SELECT * FROM MUSTERI, SIPARIS WHERE MUSTERI.MUSTERINO = SIPARIS.MUSTERINO;
   B) SELECT * FROM MUSTERI, SIPARIS WHERE MUSTERI.MUSNO = SIPARIS.MUSNO;
   C) SELECT * FROM MUSTERI, SIPARIS WHERE MUSTERI.MUSTERINO = SIPARIS.MUSNO;  <-- [DOĞRU CEVAP]
   D) SELECT * FROM MUSTERI, SIPARIS WHERE MUSNO = MUSNO;
   E) SELECT * FROM MUSTERI, SIPARIS WHERE MUSTERINO > MUSNO;

9. Aşağıdakilerden hangisi VTYS'leri veri modeline göre sınıflandırma türlerinden biri değildir?
   A) Dikel  <-- [DOĞRU CEVAP - Literatürde böyle bir model yoktur]
   B) Yapısal
   C) Nesne Yönelimli
   D) Ağ
   E) Hiyerarşik

10. PARCANO'su verilen (örneğin 1200) bir parçanın; SIPARISNO, SIPTARIH, ADI (parçanın adı) ve MIKTAR bilgilerini listeleyen SQL cümlesi hangisidir?
   A) SELECT ... FROM PARCA WHERE PARCANO=1200;
   B) SELECT S.SIPARISNO, S.MUSNO, S.SIPTARIH, P.ADI, P.MIKTAR FROM SIPARIS S, PARCA P WHERE S.SIPARISNO = P.SIPNO AND P.PARCANO = 1200;  <-- [DOĞRU CEVAP]
   C) SELECT SIPARISNO, MUSNO...

VERİ TABANI YÖNETİM SİSTEMİ - FİNAL SINAVI (Sayfa 2)
(Düzeltilmiş Soru Kitapçığı)

15. (Soru metni eksik, Tahmini: Adı 'AHMET' olan personelin işlemlerini sorgulayan join yapısı)
   A) ... (S.SIPARISNO-K.SIPNO) ...
   B) ... P.SOYADI=K.MET ADI ...
   C) ... K.ADI ADI+AHMET ...
   D) ... P.SOYADI=K.ADI ...
   E) SELECT S.MUSNO, S.SIPTARIH, P.ADI, P.SOYADI, K.PARCANO, K.ADI FROM SIPARIS S, PERSONEL P, PARCA K WHERE (S.SIPARISNO=K.SIPNO) AND (S.ELEMANNO=P.PERNO) AND (P.ADI='AHMET'); <-- [DOĞRU CEVAP - Tahmini]

16. MUSTERI tablosundaki kayıtların sayısını bulan SQL cümlesi aşağıdakilerden hangisidir?
   A) SELECT COUNT FROM MUSTERI;
   B) SELECT MUSTERI COUNT(*);
   C) SELECT COUNT(*) FROM MUSTERI; <-- [DOĞRU CEVAP]
   D) SELECT FROM MUSTERI WHERE COUNT(*);
   E) SELECT * FROM MUSTERI WHERE COUNT(*) HAVING COUNT(*)

17. Bir varlık kümesi içindeki varlıkları ya da bir ilişki kümesi içindeki ilişkileri birbirinden ayırt etmek için kullanılan nitelik ya da nitelik grubuna ne denir?
   A) Yabancı Anahtar
   B) Anahtar
   C) Foreign Key
   D) İndeks
   E) Primary Key (Birincil Anahtar) <-- [DOĞRU CEVAP]

18. Belirli bir sipariş tarihinden (ör: 25-12-2009) ÖNCE verilmiş olan siparişlerin listesini getiren SQL cümlesini yazınız.
   A) SELECT * FROM SIPARIS WHERE SIPTARIH > '2009-12-25';
   B) SELECT * FROM SIPARIS WHERE SIPTARIH > '25-12-2009';
   C) SELECT * FROM SIPARIS WHERE SIPTARIH < 2009-12-25';
   D) SELECT * FROM SIPARIS WHERE SIPTARIH < '25-12-2009'; <-- [DOĞRU CEVAP]
   E) SELECT * FROM SIPARIS WHERE SIPTARIH > '2009-12-25'

19. SIPARIS tablosunda TOPLAM alanındaki değeri %20 artırarak ‘YÜZDE_20_ARTIŞ’ başlığı altında yazdıran SQL komutu aşağıdakilerden hangisidir?
   A) SELECT TOPLAM * 20/100 AS YÜZDE_20_ARTIŞ FROM SIPARIS;
   B) SELECT TOPLAM + (TOPLAM * 20/100) AS YÜZDE_20_ARTIŞ FROM SIPARIS; <-- [DOĞRU CEVAP]
   C) SELECT TOPLAM * 20/100 AS YÜZDE_20_ARTIŞ FROM SIPARIS;
   D) SELECT AS YÜZDE_20_ARTIŞ TOPLAM+TOPLAM * 20/100 FROM SIPARIS;
   E) SELECT TOPLAM + ‘YÜZDE_20_ARTIŞ’ TOPLAM * 20/100 AS FROM SIPARIS;

20. MUSTERI tablosuna SOYADI alanının arkasına ANNE_SOYADI adı değişir uzunlukta alfasayısal (VARCHAR) bir alan ekleyen SQL cümlesi aşağıdakilerden hangisidir?
   A) ALTER TABLE MUSTERI ADD ANNE_SOYADI CHAR(20) AFTER SOYADI;
   B) ALTER TABLE MUSTERI ADD AFTER SOYADI ANNE_SOYADI VARCHAR(20);
   C) ALTER TABLE MUSTERI ADD ANNE_SOYADI VARCHAR(20) SOYADI AFTER;
   D) ALTER TABLE MUSTERI ADD ANNE_SOYADI VARCHAR(20) AFTER SOYADI; <-- [DOĞRU CEVAP]
   E) ALTER TABLE MUSTERI ADD ANNE_SOYADI VARCHAR(20) SOYADI;

21. Belirli bir tarihte (örneğin 25-10-2009) tarihinde yapılan siparişleri yapan müşterilerin bilgilerini listeleyen SQL...
   (Soru kesik, cevap şıkkı görünmüyor. Mantıksal çözüm:)
   SELECT DISTINCT M.* FROM MUSTERI M, SIPARIS S 
   WHERE M.MUSTERINO = S.MUSNO AND S.SIPTARIH = '25-10-2009';
"""