In [32]:
import sqlite3
import pandas as pd

# 1. Veritabanı Bağlantısını Oluştur (RAM üzerinde geçici bir veritabanı)
conn = sqlite3.connect(':memory:') 
cursor = conn.cursor()

# ---------------------------------------------------------
# 2. TABLO A (Ogrenciler) OLUŞTURMA VE VERİ EKLEME
# ---------------------------------------------------------
# Tabloyu oluştur
cursor.execute("""
    CREATE TABLE Ogrenciler (
        id INTEGER PRIMARY KEY,
        ad TEXT
    )
""")

# Verileri hazırla
ogrenci_verileri = [
    (1, 'Ali'),
    (2, 'Ayşe'),
    (3, 'Mehmet')
]

# Verileri ekle
cursor.executemany("INSERT INTO Ogrenciler (id, ad) VALUES (?, ?)", ogrenci_verileri)

# ---------------------------------------------------------
# 3. TABLO B (Notlar) OLUŞTURMA VE VERİ EKLEME
# ---------------------------------------------------------
# Tabloyu oluştur ('not' SQL'de özel kelime olduğu için 'not_degeri' dedik veya köşeli parantez kullanabiliriz)
cursor.execute("""
    CREATE TABLE Notlar (
        id INTEGER,
        not_degeri INTEGER
    )
""")

# Verileri hazırla
not_verileri = [
    (1, 85),
    (3, 90),
    (4, 70)
]

# Verileri ekle
cursor.executemany("INSERT INTO Notlar (id, not_degeri) VALUES (?, ?)", not_verileri)

# Değişiklikleri kaydet
conn.commit()

# ---------------------------------------------------------
# 4. KONTROL VE JOIN ÖRNEĞİ (PANDAS İLE)
# ---------------------------------------------------------

print("--- TABLO A: Ogrenciler ---")
df_ogrenciler = pd.read_sql("SELECT * FROM Ogrenciler", conn)
print(df_ogrenciler)

print("\n--- TABLO B: Notlar ---")
df_notlar = pd.read_sql("SELECT * FROM Notlar", conn)
print(df_notlar)

#query methodu
def run_query(query):
    try:
        result = pd.read_sql_query(query, conn)
        print(result)
    except Exception as e:
        print(f"Sorgu çalıştırılırken hata oluştu: {e}")
        return None

# Bağlantıyı kapat

--- TABLO A: Ogrenciler ---
   id      ad
0   1     Ali
1   2    Ayşe
2   3  Mehmet

--- TABLO B: Notlar ---
   id  not_degeri
0   1          85
1   3          90
2   4          70

In [33]:
#INNER JOIN = a∩b 
run_query("""
    select
          a.ad as adı,
          b.not_degeri as notu
    from ogrenciler as a
    inner join notlar as b on a.id=b.id;
""")

      adı  notu
0     Ali    85
1  Mehmet    90

In [35]:
#LEFT JOIN = a⟕b
run_query("""
    select
          a.ad as adı,
          b.not_degeri as notu
    from ogrenciler as a
    LEFT join notlar as b on a.id=b.id;
""")

      adı  notu
0     Ali  85.0
1    Ayşe   NaN
2  Mehmet  90.0

In [34]:
#FULL OUTER JOIN = aUb
run_query("""
    select
          a.ad as adı,
          b.not_degeri as notu
    from ogrenciler as a
    full outer join notlar as b on a.id=b.id;
""")

Sorgu çalıştırılırken hata oluştu: Execution failed on sql '
    select
          a.ad as adı,
          b.not_degeri as notu
    from ogrenciler as a
    full outer join notlar as b on a.id=b.id;
': RIGHT and FULL OUTER JOINs are not currently supported

In [ ]:
#RIGHT JOIN = a⟕b
run_query("""
    select
          a.ad as adı,
          b.not_degeri as notu
    from ogrenciler as a
    RIGHT join notlar as b on a.id=b.id;
""")

Sorgu çalıştırılırken hata oluştu: Execution failed on sql '
    select
          a.ad as adı,
          b.not_degeri as notu
    from ogrenciler as a
    RIGHT join notlar as b on a.id=b.id;
    ': RIGHT and FULL OUTER JOINs are not currently supported

In [37]:
conn.close()